<%= form_with(model: system_link, local: true) do |form| %>
  <% if system_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system_link.errors.count, "error") %> prohibited this system_link from being saved:</h2>

      <ul>
      <% system_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= simple_form_for @system_link do |f| %>
  <%= f.input :system_link do %>
    <%= f.select :system_link, SystemLink.all.map { |r| [r.name, r.id, { class: r.targets.from_node_id }] }, include_blank: true %>
  <% end %>
<% end %>



<%= simple_form_for [@system_node, @system_link] do |form| %>
    <%= form.association :targets, collection: SystemNode.all, prompt: "Choose a System Target" %>
<% end %>

<%= simple_form_for [@system_node, @system_link] do |form| %>
    <%= form.association :sources, collection: SystemNode.all, prompt: "Choose a System Source" %>
<% end %>
