<%= simple_form(model: system_node, local: true) do |form| %>
  <% if system_node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system_node.errors.count, "error") %> prohibited this system_node from being saved:</h2>

      <ul>
      <% system_node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.association :from_nodes, :label => 'Linked Nodes',
                  :as => :check_boxes, :collection => SystemNode.all - [@system_node],
                  :checked => @system_node.links.collect(&:id) %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
