
<div class="col-md-10">
  <%= simple_form_for @system_node do |form| %>
    <% if system_node.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(system_node.errors.count, "error") %> prohibited this system_node from being saved:</h2>

        <ul>
        <% system_node.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% default_fields = [:name, :address, :description] %>

    <table>

      <% default_fields.each do |f| %>
        <tr>
          <td><%= form.label f, class: 'control-label' %></td>
          <td>  <%= form.text_field f, class: 'form-control' %></tr>
      <% end %>

      <% @system_node.settings.each do |s| %>
        <tr><td><%= s.key %></td><td><%= s.value %></td><td><%= link_to "Edit", edit_system_node_setting_path(@system_node, s) %> <%= link_to 'Destroy', system_node_setting_path(@system_node,s), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

      <% end %>
    </table>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
