
<div class="page">
  <%= simple_form_for @system_node do |form| %>
    <% if system_node.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(system_node.errors.count, "error") %> prohibited this system_node from being saved:</h2>
        <ul>
        <% system_node.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% default_fields = [:name, :address, :description] %>

    <table class="table">
      <% default_fields.each do |f| %>
        <tr>
          <td><%= form.label f, class: 'control-label' %></td>
          <td>  <%= form.text_field f, class: 'form-control' %></tr>
      <% end %>
    </table>
    <button class=" btn btn-info"> <%= form.submit %> </button>
  <% end %>
</div>
