<div class="table-style">
  <table class="table table-hover">
    <tr>
      <th align="left">System</th>
      <th align="left">Address</th>
      <th align="left">Description</th>
    </tr>
    <% if links %>
  <% links.each do |link| %>
  <% node = link.to_node %>
  <% if node %>
  <tr>
    <td><%= link_to node.name, edit_system_node_path(node) %></td>
    <td><%= node.address %></td>
    <td><%= node.description %></td>

      <td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/system_links/<%=link.id %>">Destroy</a></td>
  </tr>
  <% else %>
  <tr><%= link %></tr>
  <% end %>
  <% end %>
  <% else %>
  <tr><td>None</td><tr>
  <% end %>
</table>
</div>
