<%
  nodes = local_assigns[:nodes]
%>
 <h1><%= @system_node.name %></h1>
<button class="btn btn-info">
  <%= link_to 'Graph', 'graph', :class => 'btn', description: 'Graph Time' %>
</button>
<div class="page">
  <div class="col-md-12">
    <div class="system-node-form col-md-6">
      <h3><%= @system_node.name %></h3>
      <%= render 'form', system_node: @system_node %>
    </div>
    <div class="col-md-6">
      <h3><%= @system_node.name %> Settings</h3>
      <%= render 'settings_table', system_node: @system_node %>
      <button class=" btn btn-info"> <%= link_to 'New Setting for Node', new_system_node_setting_path(@system_node) %> </button>
    </div>
  </div>
  <div class="break">

  </div>

  <div class="sources-targets col-md-12">
      <h1>Add a Connection for <%= @system_node.name %> </h1>
      <div class="sources-list col-md-6">
        <h2>Sources</h2>
        <%= render 'neighbor_list', nodes: @system_node.sources.to_a %>

          <div class="form-group">
            <%= form_tag("/system_nodes/#{@system_node.id}/sources", method: "post") do %>
              <select class="form-control" id="source_node_id" name="source_node_id">
              <%= options_for_select(SystemNode.all.map { |n| [n.name, n.id] }) %>
              </select>
              <button class=" btn btn-info"> <%= submit_tag("Add Source") %> </button>
            <% end %>
          </div>
      </div>
      <div class="targets-list col-md-6">
        <h2>Targets</h2>
        <%= render 'neighbor_list', nodes: @system_node.targets.to_a %>

          <div class="form-group">
            <%= form_tag("/system_nodes/#{@system_node.id}/targets", method: "post") do %>
              <select class="form-control" id="target_node_id" name="target_node_id">
              <%= options_for_select(SystemNode.all.map { |n| [n.name, n.id] }) %>
              </select>
              <button class=" btn btn-info"> <%= submit_tag("Add Target") %></button>
            <% end %>
          </div>
      </div>
  </div>
</div>


<% #= link_to 'Edit System Connection', system_links_path(@system_node) %>
