<p id="notice"><%= notice %></p>

<h1>System Nodes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_nodes.each do |system_node| %>
      <tr>
        <td><%= link_to 'Show', system_node %></td>
        <td><%= link_to 'Edit', edit_system_node_path(system_node) %></td>
        <td><%= link_to 'Destroy', system_node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System Node', new_system_node_path %>

<h1>System Nodes</h1>

<% @system_nodes.each do |system_node| %>
  <%= system_node.name %> </br>
  <%= system_node.address %> </br>
  <%= system_node.description %> </br>
<% end %>
