<p id="notice"><%= notice %></p>



<%= link_to 'New System Node', new_system_node_path %>
<%= link_to 'Show', @system_node %>

<h1>System Nodes</h1>


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Nodes Display</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Nodes List</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

      <table>
        <% @system_nodes.sort_by {|n| n.name}.each do |system_node| %>
          <tr><td><%# = link_to system_node.name, system_node_graph_path(system_node)%>
            <a href="/system_nodes/<%= system_node.id %>/graph"><%= system_node.name %></a>
          </td><tr>
        <% end %>
      </table>

    </div>
    <div class="tab-pane fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= render 'layouts/shared/settings' %>
    </div>


  </div>
