<% @system_nodes.each do |system_node| %>
  <div class="col-md-10">
    <h2><%= system_node.name %></h2>  </br>
    <%= system_node.address %> </br>
    <%= system_node.description %> </br>
    settings: <%= system_node.settings.count %> </br>
    sources: <%= system_node.sources.count %> </br>
    targets: <%= system_node.targets.count %> </br>
    <%= link_to 'Show', system_node %>
    <%= link_to 'Edit', edit_system_node_path(system_node) %>
    <%= link_to 'Destroy', system_node, method: :delete, data: { confirm: 'Are you sure?' } %>
    <div class="node-settings">
      <table class="table">
       <tr>
         <th>Settings:</th>
       </tr>
      <% system_node.settings.each do |setting| %>
           <tr>
             <td> <h4><%= setting.key %></h4> </td>
           </tr>
           <tr>
             <td><%= setting.value %></td>
           </tr>
        <% end %>
      </table>
    </div>
  </div>

<% end %>
