<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_system_node_setting_path(@system_node) %> |
<%= link_to 'Back', settings_path %>
Key: <%= @setting.key %>
Value: <%= @setting.value %>
Location: <%= @setting.location %>
