<!DOCTYPE html>
<html>
  <head>
    <title>Genops</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/viz.js@1.8.0/viz.js"></script>
    <script src="https://unpkg.com/d3-graphviz@0.1.2/build/d3-graphviz.js"></script>
  </head>

  <body>
    <%= render 'layouts/shared/nav' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
